<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>FacultyLogin</display-name>
    <servlet-name>FacultyLogin</servlet-name>
    <servlet-class>studentBackend.FacultyLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyLogin</servlet-name>
    <url-pattern>/FacultyLogin</url-pattern>
  </servlet-mapping>
  <display-name>STUDENT_MANAGEMENT_AJ</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FacultyRegister</display-name>
    <servlet-name>FacultyRegister</servlet-name>
    <servlet-class>studentBackend.FacultyRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyRegister</servlet-name>
    <url-pattern>/FacultyRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLogin</display-name>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>studentBackend.StudentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/StudentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRegister</display-name>
    <servlet-name>StudentRegister</servlet-name>
    <servlet-class>studentBackend.StudentRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegister</servlet-name>
    <url-pattern>/StudentRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>studentBackend.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDetailsDelete</display-name>
    <servlet-name>StudentDetailsDelete</servlet-name>
    <servlet-class>studentBackend.StudentDetailsDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDetailsDelete</servlet-name>
    <url-pattern>/StudentDetailsDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentEditDetailsUpdate</display-name>
    <servlet-name>StudentEditDetailsUpdate</servlet-name>
    <servlet-class>studentBackend.StudentEditDetailsUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentEditDetailsUpdate</servlet-name>
    <url-pattern>/StudentEditDetailsUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewStudent</display-name>
    <servlet-name>AddNewStudent</servlet-name>
    <servlet-class>studentBackend.AddNewStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewStudent</servlet-name>
    <url-pattern>/AddNewStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyUpdate</display-name>
    <servlet-name>FacultyUpdate</servlet-name>
    <servlet-class>studentBackend.FacultyUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyUpdate</servlet-name>
    <url-pattern>/FacultyUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewFaculty</display-name>
    <servlet-name>AddNewFaculty</servlet-name>
    <servlet-class>studentBackend.AddNewFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewFaculty</servlet-name>
    <url-pattern>/AddNewFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAttendance</display-name>
    <servlet-name>AddAttendance</servlet-name>
    <servlet-class>studentBackend.AddAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAttendance</servlet-name>
    <url-pattern>/AddAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyEditSubject</display-name>
    <servlet-name>FacultyEditSubject</servlet-name>
    <servlet-class>studentBackend.FacultyEditSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyEditSubject</servlet-name>
    <url-pattern>/FacultyEditSubject</url-pattern>
  </servlet-mapping>
</web-app>